<div class="profile-wrapper">

  <h3 class="title">Referral Statistics</h3>

  <div class="my-details container">
    <div class="row">
      <div class="col-xs-4">
        <h3 class="title">Registrations</h3>
        <p>3</p>
      </div>
      <div class="col-xs-4">
        <h3 class="title">Transactions</h3>
        <p>14</p>
      </div>
      <div class="col-xs-4">
        <h3 class="title">Total Payout</h3>
        <p>0.08</p>
      </div>
    </div>
  </div>
  <div class="referral-link">
    <p>http://coinswitch.co/?ref=XCD79r2e000</p>
  </div>


  <div class="profile row">
    <div class="col-xs-6">
      <h3 class="title">My Profile</h3>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-10">
          <div class="progress-bar">
            <span class="width"></span>
          </div>
          <p class="progress-percentage">35% complete</p>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>
  </div>


  <div class="main-information wrapper">

    <div class="basic-information">
      <div class="heading" (click)="toggleBasicInformation()">

        <div class="accordion-toggle">
          <h3 class="title">Basic Information</h3>
          <span><i class="fas fa-caret-down"></i></span>
        </div>


        <p class="percentage">50% complete</p>


        <div *ngIf="showBasicInformation" class="content">

          <form #userForm [formGroup]="userForm" onsubmit="submitUserForm(userForm.val)">
            <div class="name">
              <label for="name">Name</label>
              <input formControlName="name"  id="name" type="text" required="true" maxlength="10">
            </div>

            <div class="email">
              <label for="email">email</label>
              <input formControlName="email" type="email" required="true" id="email">
            </div>


            <div class="phone">
              <label for="phone">Phone</label>
              <input formControlName="phone" type="tel" id="phone" required="true">
            </div>

            <div class="country">
              <label for="country">Country of Residence</label>
              <select formControlName="country" name="country" id="country" required="true">
                <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
              </select>
            </div>

            <div class="pincode">
              <label for="pincode">PIN Code</label>
              <input formControlName="pincode" id="pincode" type="number" required="true">
            </div>

            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>

    <div class="additional-information">
      <div class="heading" (click)="toggleAdditionalInformation()">

        <div class="accordion-toggle">
          <h3 class="title">Additional Information</h3>
          <span><i class="fas fa-caret-down"></i></span>
        </div>



        <div *ngIf="showAdditionalInformation" class="content">

          <p>static data</p>
          <p>static data</p>
        </div>
      </div>
    </div>


    <div class="documents">
      <div class="heading" (click)="toggleDocuments()">

        <div class="accordion-toggle">
          <h3 class="title">Supporting Documents</h3>
          <span><i class="fas fa-caret-down"></i></span>
        </div>

        <div *ngIf="showDocuments" class="content">

          <p>static data</p>
          <p>static data</p>
        </div>
      </div>
    </div>

  </div>

</div>
